body{
    margin: 100px 0 20px 40px;
    padding: 0;
}

 .nav-link{
    color: #FFFFFF;
    text-decoration: none; 
}

#title{
    font-size: 50px;
    color: #46526F;
}

#text{
    font-size: 20px;
    color: #46526F;
}

#vektor{
    float: right;
    height: 200px;
    width: 550px;
}