body{
    padding: 0;
}
.nav-link{
    color: #FFFFFF;
    text-decoration: none; 
} 

body{
    background-image: url(asset/frame1.png);
    background-size: 160%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
}


.text{
    color: #FFFFFF;
}

.row{
    padding: 20px 30px 20px 30px;
    margin-top: 50px;
}

#header{
    background-color: #FDF9BA;
}


.input-group{
    width: 300px;
}

.container{
    margin-top: 100px;
}