body{
    padding: 0;
}
.nav-link{
    color: #FFFFFF;
    text-decoration: none; 
} 

body{
    background-image: url(asset/frame1.png);
    background-size: 210%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
}

.text{
    color: #FFFFFF;
}

#forum{
    background-color: #FFFFFF;
    padding: 30px 40px 30px 40px;
    /* margin: 50px 20px 0 20px; */
    margin-top: 50px;
}

.btn{
    color: #FFFFFF;
    width: 100px;
    height: 50px;
}

.container{
    margin-top: 100px;
}